{% extends "portfolio/base.html" %} 
{% load static %}
{% block head %}
<title>about</title>
{% endblock %}
{% block content %}
<main>

    <section class="content">
       <div >
          <h3><span>📚</span>Education</h3>
            <ul>
              <li>Mechanical Engineer from National School of Arts and Crafts in 2013</li>
              <li>Codecademy Full Stack Software Engineer Path | Data Science Path</li>
              <li>Baccalaureate in Mathematical Sciences, Graduated in 2007</li>
            </ul>
      </div>    
      <div >  
        <h3><span>💼</span> Career</h3>
        <ul>
          <li>Elementary Function Pilot @  Expleo Group</li>
          <li>Industrial Manager @ Capegemini</li>
          <li>Production Manager @ Siera</li>
        </ul>
      </div>
      <div > 
       <h3><span>💼</span>Hobbies</h3>
       <ul>
          <li>Cycling</li>
          <li>Travel</li>
      </ul>
      </div>
    </section>
<main>

{% endblock %}