{% extends "portfolio/base.html" %} 
{% block head %}
<title>Projects</title>
{% endblock %}
{% block content %}
    <main>
       <section class="content">
           <div id="Expleo">
               <p>Elementary Function Pilot<br>
                 Expleo Group Full-time<br>
                 January 2022 - Present · 2 years 8 months<br>
                 Tanger · Hybrid<br></p>
                <p>As a Consultant and Elementary Function Pilot at Expleo Group, I've been leading the development, validation, 
                 and integration of ECU projects under the SWEET 400 project. I manage supplier relationships for ECUs and address issues within the ANPQP framework,
                 contributing to problem-solving. I facilitate technical meetings to address risks and challenges,
                  ensuring product and process maturity align with QCDP objectives. Additionally, I oversee the global deployment of Autonomous Driving and ACC/ACC S&G technologies,
                  including project data monitoring, scheduling, technical feasibility assessments, and coordination of RASIC Quality ADAS.
                I also established a technical feasibility database for the project.</p>
            </div>    
            <div id="capegemini">
                <p>Industrial Project Manager<br>
                   Capegemini · Full-time<br>
                   August 2016 - December 2021 · 5 years 5 months<br>
                   Casablanca, Morocco<br></p>
                <p>As an Industrial Stamping Pilot at Stellantis, I managed the product-process convergence, geometric alignment, tooling realization, 
                    and their industrialization at manufacturing sites. I also led the techno-economic validation of modifications, ensuring they met project requirements. <br>
                    Stamping Project pilot<br>
                    August 2016 - October 2018 · 2 years 3 months<br>
                    In the role of Stamping Project Manager for PSA Group's D3P2 program and P21 project at the TRNAVA plant, I was responsible for overseeing suppliers in the
                    development of stamping tools. My duties included drafting subcontractor specifications, validating techno-economic modifications.</p>
            </div>
      </section>
   </main> 
{% endblock %}